doctype html
html
  | {%- include head -%}
  body
    header
    h1#logo My Logo
    nav
      ul
        li Home
        li Portfolio
        li About
        li Contact

    main
    | {{ content }}
    
    footer
      div footer column 1
      div footer column 2