# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.svg]
trim_trailing_whitespace = false

[*.{pug,html,sass,css}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{json,js,ts}]
indent_style = space
indent_size = 2